<html lang="en">
<link rel="stylesheet" href="./main.css" />
<meta charset="utf-8" />

<head>
  <meta charset="UTF-8">
  <title>Result</title>
  <style>
    body {
      padding: 30px;
    }

    strong {
      color: darkblue;
    }
  </style>
</head>

<body class="body">
  <div style="width:80%;margin-right:10%;margin-left:10%;align-content: center;">
    <div class="container">
      <div class="neon">
        RESULT
      </div>
      <div class="top10_time">
        Elapsed Time : 123
      </div>
    </div>
  </div>
  <br />


  <div class="RESULT_success">
    <div class="RESULT_list">
      <div class="RESULT_url">
        www.chaengchaeng.com
      </div>

      <div style="display:table-cell;width:15%">
        <span class="RESULT_output">전체 단어 수<br>123</span>
      </div>
      <div style="display:table-cell;width:15%">
        <span class="RESULT_output">처리 시간<br>0.1 sec</span>
      </div>
      <div style="display:table-cell; width:30%; height:50px;line-height: 50px;">
        <input type="button" value="Top10" class="RESULT_button" onclick="window.open('Extop10.html')"
          target="_blank" />
        <input type="button" value="SIMILAR" class="RESULT_button" onclick="window.open('Exsimilar.html')"
          target="_blank" />
      </div>
    </div>

  </div>
  <br />
  <div class="RESULT_fail">
    <div class="RESULT_list">
      <div class="RESULT_url">
        www.chaengchaeng.com
      </div>

      <div style="display:table-cell;width:15%">
        <span class="RESULT_output">전체 단어 수<br>123</span>
      </div>
      <div style="display:table-cell;width:15%">
        <span class="RESULT_output">처리 시간<br>0.1 sec</span>
      </div>
      <div style="display:table-cell; width:30%; height:50px;line-height: 50px;">
        <input type="button" value="Top10" class="RESULT_button" onclick="window.open('Extop10.html')"
          target="_blank" />
        <input type="button" value="SIMILAR" class="RESULT_button" onclick="window.open('Exsimilar.html')"
          target="_blank" />
      </div>

    </div>

  </div>

</body>

</html>
