<html>

<head>
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <title>Web Analysis</title>
</head>

<body style="margin-left: 200px;margin-right: 200px;">
  <div>
    {% block content %}
    <div>
        <h1 style="color: pink; padding:30;">{{error}}</h1>
    </div>
    {% endblock %}
  </div>
  <div class="container">
    <div class="neon_txt">
      Open Source Programming
    </div>
    <div class="neon_txt" style="font-size: 50px; color: #6fc963; text-shadow: 0 0 3vw #1ade00;">
      /*Final Project*/
    </div>
  </div>
  <div class="container" style="padding: 50px;">
    <a class="button" style="color:#ac8600; margin: 30px;" href="{{ url_for('static', filename='url.html') }}">URL INPUT</a>
    <a class="button" style="color:#ac8600; margin: 30px" href="{{ url_for('static', filename='text.html') }}">TEXT INPUT</a>
  </div>
</body>

</html>
