<html>
    <head>
        <title>Web Analysis</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div style="width:80%;margin-left: 10%;margin-right:10%;margin-top:15%">
            <div class="container">
                <div class="neon_txt" style="font-size:70px; color: #6fc963; text-shadow: 0 0 3vw #1ade00;">
                    /*Analysis*/
                </div>
            </div>
        </div>
        <!--<div>
            <p class="URL_head">Analysis</p>
        </div>-->
        <div>
            <form action="http://localhost:8000/analysis" method="POST" enctype="multipart/form-data">
                <input type="text" class="URL_txt" placeholder="input the URL" name="text1"/>
                <br />
                <br><br />
                <input class="submin_btn" type="submit" value="submit;"/>
            </form>
        </div>
    </body>
</html>
