<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Similar Websites :: {{ index }}</title>
    <style>
        body {
            padding: 30px;
        }

        strong {
            color: darkblue;
        }
    </style>
</head>

<body>
    <h1>Similar Websites: {{ index }} (<a href="{{ url }}" target="_blank">{{ url }}</a>)</h1>

    {% block content %}
    <div>
        <div>
            {% for post in posts %}
            <article>
                <h2>#{{ post.number }} <a href="{{ post.word }}" target="_blank">{{ post.word }}</a></h2>
                <p>score: {{ "%.2f"|format(post.score) }}</p>
            </article>

            {% endfor %}
        </div>

    </div>
    {% endblock %}

    <div>
        <h2>Elapsed Time</h2>
        <p>{{ "%.2f"|format(elapsedTime) }} sec</p>
    </div>
</body>

</html>