<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/main.css" />
    <meta charset="UTF-8">
    <title>TOP THREE :: {{ index }}</title>
    <style>
        body {
            padding: 30px;
        }

        strong {
            color: darkblue;
        }
    </style>
</head>

<body class="body">
    <div style="width:80%;margin-left: 10%;margin-right:10%;">
        <div class="container">
            <div class="neon">
                TOP THREE
            </div>
            <div class="neon">
                Similar Websites
            </div>
            <div class="flux">
                {{ url }}
            </div>
            <div class="top10_time">
                Elapsed Time : {{ "%.2f"|format(elapsedTime) }} sec
            </div>

        </div>
    </div>

    <div>
        <div id="table" style="margin-left: 10%;margin-right: 10%;">
            {% block content %}
                {% for post in posts %}
                <div class="list_row">
                    <div class="list_num">
                        {{ post.number }}
                    </div>
                    <span class="top3"><p class="easy-flux" style="font-size: 30px;">{{ post.word }}</p></span>
                </div>

                {% endfor %}
            {% endblock %}
        </div>
    </div>
</body>

</html>