<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body {
            padding: 30px;
        }
        strong {
            color: darkblue;
        }
    </style>
</head>


<html>
    <body>
        <form action="http://localhost:8000/file_uploaded" 
        method="POST" enctype="multipart/form-data">
            <input type="file" name="file1" />
            <input type="text" name="text1" />
            <input type="submit" />
        </form>
    </body>
</html>