<html>
    <head>
        <title>osp_project</title>
        <style type = "text/css">
        
        </style>
    </head>
    <body style="margin-left: 200px;margin-right:200px; align-content: left;">
        <div style="position:absolute;left:50%;margin-left:-60px; top:40%">
           
                <button style="width: 100px;height: 100px;" onclick="location.href='url.html'">
                    url
                </button>

                <button style="width: 100px;height: 100px;" onclick="location.href='text.html'">
                    text
                </button>
            
        </div>
    </body>
</html>