<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Top 10 :: {{ index }}</title>
    <style>
        body {
            padding: 30px;
        }

        strong {
            color: darkblue;
        }
    </style>
</head>

<body>
    <h1>Top 10: {{ index }} ({{ url }})</h1>

    {% block content %}
    <div>
        <div>
            {% for post in posts %}
            <article>
                <h2># {{ post.number }} {{ post.word }}</h2>
                <p>{{ post.frequency }}</p>
            </article>

            {% endfor %}
        </div>

    </div>
    {% endblock %}

    <div>
        <h2>Elapsed Time</h2>
        <p>{{ elapsedTime }}</p>
    </div>
</body>

</html>