<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/main.css" />
    <meta charset="UTF-8">
    <title>TOP 10 :: {{ index }}</title>
    <style>
        body {
            padding: 30px;
        }

        strong {
            color: darkblue;
        }
    </style>
</head>

<body class="body">
    <div style="width:80%;margin-left: 10%;margin-right:10%;">
        <div class="container">
            <div class="neon_txt" style="color: #6fc963; text-shadow: 0 0 3vw #1ade00; font-size: 70px;">
                /* TOP 10 : KEY WORDS */
            </div>
            <div class="neon_txt" style="color: #ed87fa; text-shadow: 0 0 1vw #e701dc; font-size: 50px;">
                {{ url }}
            </div>
            <div class="top10_time">
                Elapsed Time : {{ "%.2f"|format(elapsedTime) }} sec
            </div>

        </div>
    </div>
    <div style="width:100%">
        <div id="table" style="margin-left: 10%;margin-right: 10%;">
            <div class="list_row0">
                <div class="list_num0">
                    No.
                </div>
                <div class="list_word0">
                    <span class="list_word10">word</span>
                    <div class="list_word10">
                        <span class="list_word20">score</span>
                        <span class="list_word20">count</span>
                    </div>
                </div>
            </div>

            {% block content %}
            {% for post in posts %}
            <div class="list_row">
                <div class="list_num">
                    {{ post.number }}
                </div>
                <div class="list_word">
                    <span class="list_word1">{{ post.word }}</span>
                    <div class="list_word1">
                        <span class="list_word2">{{ "%.4f"|format(post.score) }}</span>
                        <span class="list_word2">{{ post.frequency }}</span>
                    </div>
                </div>
            </div>

            {% endfor %}
            {% endblock %}

        </div>

    </div>
</body>

</html>