<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/main.css" />

<body>
    <section>
        <h2 class="RESULT_head">TOP10</h2>

        <nav class="menu menu--prospero">
            <hr />
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="#" onclick="location.href = 'result.html'">Result</a>
                </li>
                <li class="menu__item menu__item--current">
                    <a class="menu__link" href="#" onclick="location.href = 'top10.html'">TOP10</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#" onclick="location.href = 'similar.html'">Similar</a>
                </li>

            </ul>
            <hr />
        </nav>
    </section>

    <div id="table" style="margin-left: 18%;margin-right: 10%;">
        <div class="table" style="align-content: center;">
            {% block content %}
            <div>
                <div>
                    {% for post in posts %}
                    <div class="list_row">
                        <div class="list_num">
                            {{ post.number }}
                        </div>
                        <div class="list_word">
                            <span class="list_word1">{{ post.word }}</span>
                            <div class="list_word1">
                                <span class="list_word2">score<br>{{ "%.4f"|format(post.score) }}</span>
                                <span class="list_word2">count<br>{{ post.frequency }}</span>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>

            </div>
            {% endblock %}

        </div>
    </div>
</body>

</html>